<p>
  <b>Person:</b>
  <%=h @persiphone.person.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @persiphone.phone.phone_number %>
</p>


<%= link_to 'Edit', edit_persiphone_path(@persiphone) %> |
<%= link_to 'Back', persiphones_path %>