@charset "UTF-8";
.surplus {
	margin: 1px;
	padding: 1px;
	float: left;
}

.surplus span {
	margin: 1px;
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #00C;
	border-right-color: #00C;
	border-bottom-color: #00C;
	border-left-color: #00C;
	text-align: center;
	border-bottom-width: thin;
	border-left-width: thin;
	background-color: #CFF;
}

.surplus .surplus_desc {
	width: 250px;
	}

.surplus .surplus_make {
	width: 200px;
}

.surplus .surplus_idtag {
	width: 200px;
}

.surplus .surplus_qty {
	width: 75px;
}

.surplus .surplus_condition {
	width: 75px;
	border-right-style: solid;
	border-right-width: thin;
}
