@charset "UTF-8";
.surplusheader  {
	clear: right;
}

.surplusadd  {
	float: left;
	clear: left;
	height: 24px;
}

.surplus  {
	background-color: #DDF;
	clear: right;
}

.surplus span {
	float: left;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #00C;
	border-left-color: #00C;
	text-align: center;
	border-bottom-width: thin;
	border-left-width: thin;
	padding-left: 10px;
	height: 24px;
	clear: right;
}

.surplusheader span {
	float: left;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-style: solid;
	border-top-color: #00C;
	border-top-width: thin;
	border-bottom-color: #00C;
	border-left-color: #00C;
	text-align: center;
	border-bottom-width: thin;
	border-left-width: thin;
	padding-left: 10px;
	height: 60px;
	background-color: #FFC;
	clear: right;
}

.surplusdesc {
	width: 18%;
	}

.surplusmake {
	width: 18%;
}

.surplusidtag {
	width: 18%;
}

.surplusqty {
	width: 10%;
}

.surpluscondition {
	width: 10%;
}

.surplusremove {
	width: 10%;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: #00C;
}
