<h1><%=h @title %></h1>
<p> Click the roles that your toon can do </p>

  <% unless @members.empty? %>
      <table width="100%" border="1" cellpadding="5" cellspacing="0" style=cursor:default>
        <tr class="even">
          <td width="10%">Name</td>
          <td width="10%">Guild</td>
          <td width="5%">Level</td>
          <td width="5%">Race</td>
          <td width="5%">Class</td>
          <% @capabilities.each do |cap| %>
          <td width="5%"><%= cap.name %></td>
          <% end %>
        </tr>
      </table>
        <% @members.each do |dude| %>
            <%= render :partial => 'mymember', :locals => {:member => dude, :capabilities => @capabilities}%>
        <% end %>
  <% end %>



