<h1><%=h @title %></h1>
<p> Click name to edit available roles </p>

  <% unless @members.empty? %>
      <table>
        <tr>
          <th width=5%>Name</th>
          <td width=5%>Guild</th>
          <th width=3%>Level</th>
          <th width=3%>Race</th>
          <th width=3%>Class</th>
          <% @capabilities.each do |cap| %>
          <th width=3%><%= cap.name %></th>
          <% end %>
        </tr>
      </table>
        <% @members.each do |dude| %>
          <div id='<%="time_#{dude.id}"%>'; class ="">
            <%= render :partial => 'mymember', :locals => {:member => dude, :capabilities => @capabilities}%>
        <% end %>
      </table>
    <% end %>



