<h1>Listing capabilities</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @capabilities.each do |capability| %>
  <tr>
    <td><%=h capability.name %></td>
    <td><%= link_to 'Edit', edit_capability_path(capability) %></td>
    <td><%= link_to 'Destroy', capability, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New capability', new_capability_path %>