<h1>Editing usertime</h1>

<table border="1" cellpadding="5" cellspacing="0" style=cursor:pointer>
  <tr>
    <th width=100>&nbsp;</th>
    <th width=100>Sunday</th>
    <th width=100>Monday</th>
    <th width=100>Tuesday</th>
    <th width=100>Wednesday</th>
    <th width=100>Thursday</th>
    <th width=100>Friday</th>
    <th width=100>Saturday</th>
  </tr>
  <% @times.each do |time| %>
  <%= render :partial => 'time', :locals => {:time => time}%>
  <% end %>
  
</table>
