<h1>Availability Selection</h1>

<p>Please use Realm time when filling out this form</p>
<p>Please click any times that you could start a 2-hour raiding block.</p>
<p>For example, if you can play from 8PM to Midnight on Tuesdays, you'd click 20:00, 21:00, 22:00 for Tuesday.<p>
<p>Simply click and its set. Click again to unset<p>

<table border="1" cellpadding="5" cellspacing="0" style=cursor:pointer>
  <tr>
    <th width=100; ALIGN="center">&nbsp</th>
    <th width=100; ALIGN="center">Sunday</th>
    <th width=100; ALIGN="center">Monday</th>
    <th width=100; ALIGN="center">Tuesday</th>
    <th width=100; ALIGN="center">Wednesday</th>
    <th width=100; ALIGN="center">Thursday</th>
    <th width=100; ALIGN="center">Friday</th>
    <th width=100; ALIGN="center">Saturday</th>
  </tr>
</table>
  <% @times.each do |time| %>
  <div id='<%="time_#{time.keytime}"%>'; class ="">
  <%= render :partial => 'time', :locals => {:time => time}%>
  </div>
  <% end %>

