<h1>Conglomerated times Selection</h1>

<% Date::DAYNAMES.each_with_index do |day,idx| %>
  <h1> <%= day %> </h1>
<table border="0" cellpadding="0" cellspacing="0" style=cursor:pointer>
  <tr>
    <th width=5>&nbsp;</th>
    <th width=20>Name</th>
    <th width=10>01&nbsp;</th>
    <th width=10>02&nbsp;</th>
    <th width=10>03&nbsp;</th>
    <th width=10>04&nbsp;</th>
    <th width=10>05&nbsp;</th>
    <th width=10>06&nbsp;</th>
    <th width=10>07&nbsp;</th>
    <th width=10>08&nbsp;</th>
    <th width=10>09&nbsp;</th>
    <th width=10>10&nbsp;</th>
    <th width=10>11&nbsp;</th>
    <th width=10>12&nbsp;</th>
    <th width=10>13&nbsp;</th>
    <th width=10>14&nbsp;</th>
    <th width=10>15&nbsp;</th>
    <th width=10>16&nbsp;</th>
    <th width=10>17&nbsp;</th>
    <th width=10>18&nbsp;</th>
    <th width=10>19&nbsp;</th>
    <th width=10>20&nbsp;</th>
    <th width=10>21&nbsp;</th>
    <th width=10>22&nbsp;</th>
    <th width=10>23&nbsp;</th>
    <th width=10>24&nbsp;</th>
  </tr>
<% @times[idx].each_with_index do |time, usr| %>
  <tr>
    <% time.each_with_index do |t, cnt| %>
      <% if cnt == 0%>
      <% @bg = Usertime::COLORS[usr % Usertime::NUMCOLS] %>
        <td  bgcolor="<%= @bg %>">&nbsp;</td>
        <td><%= @users[usr].name%></td>
        <% end %>
      <td bgcolor="<%= t ? @bg : "white"%>">&nbsp;</td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

