 <% use_tinymce -%>
 
  
  <% form_for(Usertime.new) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mon %><br />
    <%= f.text_area :mon, :class => "mce-editor" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>