@charset "UTF-8";
.form_mark_check {
	text-align: center;
}
.song_encapsulator {
	background-color: #00C;
	top: auto;
	width: 80%;
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
}
.song_encapsulator tr {
	vertical-align: top;
}
.song_more_data {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	color: #333;
	background-color: #09F;
	border: thin solid #000;
	border-width: 1;
}

.song_more_data td{
	border: thin solid #000;
	border-width: 1;
	background-color: #3FF;
}

.CollapsiblePanelTab .title_{
 width: 350px;
	background-color: #EEE;

}

.CollapsiblePanelTab .artist{
	background-color: #CCC;
 width: 30%;
}

.CollapsiblePanelTab .album{
	background-color: #EEE;
	width: 30%;
 
}