<table>
  <tr>
    <th width=5%>Name</th>
    <td width=5%>Guild</th>
    <th width=3%>Level</th>
    <th width=3%>Race</th>
    <th width=3%>Class</th>
    <% @capabilities = Capability.all %>
    <% @capabilities.each do |cap| %>
      <th width=3%><%= cap.name %></th>
    <% end %>
  </tr>
  <% for member in members %>
    <tr class="<%= cycle("even", "odd") -%>">
      <%= render :partial => 'teammember', :locals => {:member => member, :capabilities => @capabilities}%>
    </tr>
  <% end %>
</table>