<% title @thisView %>
<p><%= link_to "New Job", new_job_path %></p>
<%# div id="Accordion1" class="Accordion" tabindex="0" %>
<div id="Accordion1" class="Accordion" tabindex="0">
<%= render :partial => 'job', :collection => @jobs %>
</div>

<script type="text/javascript">
<!--
var Accordion1 = new Spry.Widget.Accordion("Accordion1", { useFixedPanelHeights: false, defaultPanel: -1 });
//-->
</script>
<script type="text/javascript">
<!--	
<<<<<<< .mine
  var timer = setInterval("autoRefresh()", 1000 * 60 * 2);
  function autoRefresh(){self.location.reload(true);}
=======
var timer = setInterval("autoRefresh()", 1000 * 60 * 30);
/*
  TODO  reset refresh time to 2 or 3 minutes before releasing
*/
function autoRefresh(){self.location.reload(true);}
>>>>>>> .r967
//--> 
</script>

<p><%= link_to "New Job", new_job_path %></p>
