<table width="100%" align="center" cellpadding=4 cellspacing="0">
        <%= render(:partial => "song_header") %>
        <%= render(:partial => "song", :collection => @requests) %>
        <%= render(:partial => "song", :collection => @random) %>
</table>
