<p>
  <h1><%=h @playlist.name %></h1>
</p>

<p>
  <b>Tracks:</b>
  <table>
    <% for song in @playlist.songs %>
      <%= render :partial => 'songs/song', :locals => { :song => song, :cur_class => cycle("cssAlternating1", "cssAlternating2") } %>
    <% end %>
  </table>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
